In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import pyspark as sp
from pyspark.sql.functions import col, year, to_timestamp, sum as _sum, desc, date_format, countDistinct, collect_set, round, first
from pyspark.sql import Row

In [2]:
spark = sp.sql.SparkSession.builder.appName("Merging Weather").master("local[4]").config("spark.driver.memory", "6g").config("spark.executor.memory", "4g").config("spark.network.timeout", "600s").config("spark.executor.heartbeatInterval", "60s").getOrCreate()

In [3]:
df = spark.read.parquet("D:/data/top20_mta_data_1")

In [5]:
df.printSchema()

root
 |-- station_complex: string (nullable = true)
 |-- transit_timestamp: string (nullable = true)
 |-- station_complex_id: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- fare_class_category: string (nullable = true)
 |-- ridership: integer (nullable = true)
 |-- transfers: integer (nullable = true)
 |-- Georeference: string (nullable = true)
 |-- transit_mode: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)

In [6]:
df.select([_sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+---------------+-----------------+------------------+--------------+-------------------+---------+---------+------------+------------+-------+---------+----+---------+--------+
|station_complex|transit_timestamp|station_complex_id|payment_method|fare_class_category|ridership|transfers|Georeference|transit_mode|borough|timestamp|year|longitude|latitude|
+---------------+-----------------+------------------+--------------+-------------------+---------+---------+------------+------------+-------+---------+----+---------+--------+
|              0|                0|                 0|             0|                  0|        0|        0|           0|           0|      0|        0|   0|        0|       0|
+---------------+-----------------+------------------+--------------+-------------------+---------+---------+------------+------------+-------+---------+----+---------+--------+

In [7]:
df_weather2023 = spark.read.csv("D:/data/subway_weather_2023.csv", header=True)
df_weather2023.printSchema()
df_weather2024 = spark.read.csv("D:/data/subway_weather_2024.csv", header=True)
df_weather2024.printSchema()

root
 |-- time: string (nullable = true)
 |-- temperature_C: string (nullable = true)
 |-- precipitation_mm: string (nullable = true)
 |-- humidity_%: string (nullable = true)
 |-- station_id: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

root
 |-- time: string (nullable = true)
 |-- temperature_C: string (nullable = true)
 |-- precipitation_mm: string (nullable = true)
 |-- humidity_%: string (nullable = true)
 |-- station_id: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [8]:
df.drop("timestamp", "year")

DataFrame[station_complex: string, transit_timestamp: string, station_complex_id: string, payment_method: string, fare_class_category: string, ridership: int, transfers: int, Georeference: string, transit_mode: string, borough: string, longitude: double, latitude: double]

In [9]:
df_weather2023 = df_weather2023.withColumn("timestamp_temp", to_timestamp("time", "yyyy-MM-dd'T'HH:mm"))
df_weather2023 = df_weather2023.withColumn("transit_timestamp", date_format("timestamp_temp", "MM/dd/yyyy hh:mm:ss a"))
df_weather2023.show(10)

+----------------+-------------+----------------+----------+----------+---------+----------+-------------------+--------------------+
|            time|temperature_C|precipitation_mm|humidity_%|station_id| latitude| longitude|     timestamp_temp|   transit_timestamp|
+----------------+-------------+----------------+----------+----------+---------+----------+-------------------+--------------------+
|2023-01-01T00:00|         10.5|             1.2|        99|         1|40.751778|-73.976845|2023-01-01 00:00:00|01/01/2023 12:00:...|
|2023-01-01T01:00|         10.1|             1.2|        99|         1|40.751778|-73.976845|2023-01-01 01:00:00|01/01/2023 01:00:...|
|2023-01-01T02:00|         10.0|             0.2|        98|         1|40.751778|-73.976845|2023-01-01 02:00:00|01/01/2023 02:00:...|
|2023-01-01T03:00|         10.1|             0.0|        96|         1|40.751778|-73.976845|2023-01-01 03:00:00|01/01/2023 03:00:...|
|2023-01-01T04:00|          9.5|             0.0|        94|         1|40.751778|-73.976845|2023-01-01 04:00:00|01/01/2023 04:00:...|
|2023-01-01T05:00|          8.9|             0.0|        92|         1|40.751778|-73.976845|2023-01-01 05:00:00|01/01/2023 05:00:...|
|2023-01-01T06:00|          8.4|             0.0|        91|         1|40.751778|-73.976845|2023-01-01 06:00:00|01/01/2023 06:00:...|
|2023-01-01T07:00|          7.6|             0.0|        92|         1|40.751778|-73.976845|2023-01-01 07:00:00|01/01/2023 07:00:...|
|2023-01-01T08:00|          7.3|             0.0|        95|         1|40.751778|-73.976845|2023-01-01 08:00:00|01/01/2023 08:00:...|
|2023-01-01T09:00|          7.9|             0.0|        94|         1|40.751778|-73.976845|2023-01-01 09:00:00|01/01/2023 09:00:...|
+----------------+-------------+----------------+----------+----------+---------+----------+-------------------+--------------------+
only showing top 10 rows

In [10]:
df_weather2024 = df_weather2024.withColumn("timestamp_temp", to_timestamp("time", "yyyy-MM-dd'T'HH:mm"))
df_weather2024 = df_weather2024.withColumn("transit_timestamp", date_format("timestamp_temp", "MM/dd/yyyy hh:mm:ss a"))
df_weather2024.show(10)

+----------------+-------------+----------------+----------+----------+---------+----------+-------------------+--------------------+
|            time|temperature_C|precipitation_mm|humidity_%|station_id| latitude| longitude|     timestamp_temp|   transit_timestamp|
+----------------+-------------+----------------+----------+----------+---------+----------+-------------------+--------------------+
|2024-01-01T00:00|          1.3|             0.1|        79|         1|40.751778|-73.976845|2024-01-01 00:00:00|01/01/2024 12:00:...|
|2024-01-01T01:00|          0.8|             0.0|        81|         1|40.751778|-73.976845|2024-01-01 01:00:00|01/01/2024 01:00:...|
|2024-01-01T02:00|          1.9|             0.0|        79|         1|40.751778|-73.976845|2024-01-01 02:00:00|01/01/2024 02:00:...|
|2024-01-01T03:00|          2.2|             0.0|        79|         1|40.751778|-73.976845|2024-01-01 03:00:00|01/01/2024 03:00:...|
|2024-01-01T04:00|          2.2|             0.0|        79|         1|40.751778|-73.976845|2024-01-01 04:00:00|01/01/2024 04:00:...|
|2024-01-01T05:00|          0.7|             0.0|        87|         1|40.751778|-73.976845|2024-01-01 05:00:00|01/01/2024 05:00:...|
|2024-01-01T06:00|         -0.1|             0.0|        90|         1|40.751778|-73.976845|2024-01-01 06:00:00|01/01/2024 06:00:...|
|2024-01-01T07:00|          0.6|             0.0|        90|         1|40.751778|-73.976845|2024-01-01 07:00:00|01/01/2024 07:00:...|
|2024-01-01T08:00|          1.3|             0.0|        88|         1|40.751778|-73.976845|2024-01-01 08:00:00|01/01/2024 08:00:...|
|2024-01-01T09:00|          2.7|             0.0|        83|         1|40.751778|-73.976845|2024-01-01 09:00:00|01/01/2024 09:00:...|
+----------------+-------------+----------------+----------+----------+---------+----------+-------------------+--------------------+
only showing top 10 rows

In [11]:
df_weather2023.select("transit_timestamp").show(2, truncate=False)

+----------------------+
|transit_timestamp     |
+----------------------+
|01/01/2023 12:00:00 AM|
|01/01/2023 01:00:00 AM|
+----------------------+
only showing top 2 rows

In [14]:
df_weather = df_weather2023.union(df_weather2024)
df_weather.drop("time")
df_weather.printSchema()

root
 |-- time: string (nullable = true)
 |-- temperature_C: string (nullable = true)
 |-- precipitation_mm: string (nullable = true)
 |-- humidity_%: string (nullable = true)
 |-- station_id: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- timestamp_temp: timestamp (nullable = true)
 |-- transit_timestamp: string (nullable = true)

In [15]:
df_weather.drop("time")
df_weather.printSchema()

root
 |-- time: string (nullable = true)
 |-- temperature_C: string (nullable = true)
 |-- precipitation_mm: string (nullable = true)
 |-- humidity_%: string (nullable = true)
 |-- station_id: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- timestamp_temp: timestamp (nullable = true)
 |-- transit_timestamp: string (nullable = true)

In [16]:
df.printSchema()

root
 |-- station_complex: string (nullable = true)
 |-- transit_timestamp: string (nullable = true)
 |-- station_complex_id: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- fare_class_category: string (nullable = true)
 |-- ridership: integer (nullable = true)
 |-- transfers: integer (nullable = true)
 |-- Georeference: string (nullable = true)
 |-- transit_mode: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)

In [18]:
# Create aliases for both DataFrames
df_main = df.alias("main")
df_weather_renamed = df_weather.selectExpr(
    "longitude as weather_longitude",
    "latitude as weather_latitude",
    "transit_timestamp as weather_transit_timestamp",
    "temperature_C",
    "precipitation_mm",
    "`humidity_%`"  # Escape special character using backticks
).alias("weather")

# Join using the original columns
joined_df = df_main.join(
    df_weather_renamed,
    (col("main.longitude") == col("weather.weather_longitude")) &
    (col("main.latitude") == col("weather.weather_latitude")) &
    (col("main.transit_timestamp") == col("weather.weather_transit_timestamp")),
    how="left"
)

# Show the joined result
joined_df.show(truncate=False)

+--------------------------------------------------+----------------------+------------------+--------------+--------------------------------+---------+---------+----------------------------+------------+---------+-------------------+----+----------+---------+-----------------+----------------+-------------------------+-------------+----------------+----------+
|station_complex                                   |transit_timestamp     |station_complex_id|payment_method|fare_class_category             |ridership|transfers|Georeference                |transit_mode|borough  |timestamp          |year|longitude |latitude |weather_longitude|weather_latitude|weather_transit_timestamp|temperature_C|precipitation_mm|humidity_%|
+--------------------------------------------------+----------------------+------------------+--------------+--------------------------------+---------+---------+----------------------------+------------+---------+-------------------+----+----------+---------+-----------------+----------------+-------------------------+-------------+----------------+----------+
|34 St-Penn Station (A,C,E)                        |03/09/2024 03:00:00 AM|164               |metrocard     |Metrocard - Other               |11       |0        |POINT (-73.99339 40.75229)  |subway      |Manhattan|2024-03-09 03:00:00|2024|-73.99339 |40.75229 |-73.99339        |40.75229        |03/09/2024 03:00:00 AM   |3.6          |0.0             |85        |
|34 St-Herald Sq (B,D,F,M,N,Q,R,W)                 |09/08/2024 09:00:00 AM|607               |metrocard     |Metrocard - Fair Fare           |17       |0        |POINT (-73.98782 40.749718) |subway      |Manhattan|2024-09-08 09:00:00|2024|-73.98782 |40.749718|-73.98782        |40.749718       |09/08/2024 09:00:00 AM   |14.8         |0.0             |61        |
|Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)  |05/04/2024 11:00:00 AM|611               |metrocard     |Metrocard - Full Fare           |845      |4        |POINT (-73.986755 40.75731) |subway      |Manhattan|2024-05-04 11:00:00|2024|-73.986755|40.75731 |-73.986755       |40.75731        |05/04/2024 11:00:00 AM   |15.9         |0.0             |56        |
|Atlantic Av-Barclays Ctr (B,D,N,Q,R,2,3,4,5)      |03/09/2024 08:00:00 AM|617               |omny          |OMNY - Seniors & Disability     |1        |0        |POINT (-73.97881 40.683666) |subway      |Brooklyn |2024-03-09 08:00:00|2024|-73.97767 |40.68436 |-73.97767        |40.68436        |03/09/2024 08:00:00 AM   |4.2          |0.0             |78        |
|Atlantic Av-Barclays Ctr (B,D,N,Q,R,2,3,4,5)      |05/04/2024 12:00:00 PM|617               |metrocard     |Metrocard - Seniors & Disability|61       |5        |POINT (-73.97689 40.68446)  |subway      |Brooklyn |2024-05-04 12:00:00|2024|-73.97767 |40.68436 |-73.97767        |40.68436        |05/04/2024 12:00:00 PM   |14.9         |0.0             |59        |
|Crown Hts-Utica Av (3,4)                          |03/09/2024 12:00:00 PM|345               |omny          |OMNY - Full Fare                |297      |19       |POINT (-73.932945 40.668896)|subway      |Brooklyn |2024-03-09 12:00:00|2024|-73.932945|40.668896|-73.932945       |40.668896       |03/09/2024 12:00:00 PM   |5.7          |0.0             |75        |
|Crown Hts-Utica Av (3,4)                          |05/04/2024 06:00:00 AM|345               |metrocard     |Metrocard - Seniors & Disability|20       |5        |POINT (-73.932945 40.668896)|subway      |Brooklyn |2024-05-04 06:00:00|2024|-73.932945|40.668896|-73.932945       |40.668896       |05/04/2024 06:00:00 AM   |7.7          |0.0             |95        |
|Crown Hts-Utica Av (3,4)                          |09/08/2024 12:00:00 PM|345               |metrocard     |Metrocard - Other               |33       |0        |POINT (-73.932945 40.668896)|subway      |Brooklyn |2024-09-08 12:00:00|2024|-73.932945|40.668896|-73.932945       |40.668896       |09/08/2024 12:00:00 PM   |18.5         |0.0             |45        |
|Crown Hts-Utica Av (3,4)                          |09/08/2024 12:00:00 PM|345               |metrocard     |Metrocard - Unlimited 30-Day    |53       |0        |POINT (-73.932945 40.668896)|subway      |Brooklyn |2024-09-08 12:00:00|2024|-73.932945|40.668896|-73.932945       |40.668896       |09/08/2024 12:00:00 PM   |18.5         |0.0             |45        |
|161 St-Yankee Stadium (B,D,4)                     |05/04/2024 10:00:00 AM|604               |metrocard     |Metrocard - Other               |25       |0        |POINT (-73.92565 40.827995) |subway      |Bronx    |2024-05-04 10:00:00|2024|-73.925835|40.827995|-73.925835       |40.827995       |05/04/2024 10:00:00 AM   |14.5         |0.0             |64        |
|3 Av-149 St (2,5)                                 |05/04/2024 11:00:00 AM|434               |metrocard     |Metrocard - Unlimited 7-Day     |92       |0        |POINT (-73.917755 40.81611) |subway      |Bronx    |2024-05-04 11:00:00|2024|-73.917755|40.81611 |-73.917755       |40.81611        |05/04/2024 11:00:00 AM   |16.2         |0.0             |59        |
|Fordham Rd (4)                                    |09/08/2024 07:00:00 AM|382               |metrocard     |Metrocard - Other               |6        |0        |POINT (-73.90103 40.862804) |subway      |Bronx    |2024-09-08 07:00:00|2024|-73.90103 |40.862804|-73.90103        |40.862804       |09/08/2024 07:00:00 AM   |11.2         |0.0             |84        |
|74-Broadway (7)/Jackson Hts-Roosevelt Av (E,F,M,R)|09/08/2024 02:00:00 AM|616               |metrocard     |Metrocard - Unlimited 7-Day     |27       |0        |POINT (-73.891335 40.74685) |subway      |Queens   |2024-09-08 02:00:00|2024|-73.891335|40.74685 |-73.891335       |40.74685        |09/08/2024 02:00:00 AM   |14.5         |0.0             |90        |
|74-Broadway (7)/Jackson Hts-Roosevelt Av (E,F,M,R)|09/08/2024 12:00:00 PM|616               |omny          |OMNY - Other                    |3        |0        |POINT (-73.891335 40.746643)|subway      |Queens   |2024-09-08 12:00:00|2024|-73.891335|40.74685 |-73.891335       |40.74685        |09/08/2024 12:00:00 PM   |18.5         |0.0             |45        |
|Hunts Point Av (6)                                |09/08/2024 08:00:00 AM|371               |omny          |OMNY - Full Fare                |93       |7        |POINT (-73.89055 40.82095)  |subway      |Bronx    |2024-09-08 08:00:00|2024|-73.89055 |40.82095 |-73.89055        |40.82095        |09/08/2024 08:00:00 AM   |12.8         |0.0             |77        |
|103 St-Corona Plaza (7)                           |09/08/2024 11:00:00 AM|450               |metrocard     |Metrocard - Unlimited 7-Day     |185      |0        |POINT (-73.8627 40.749866)  |subway      |Queens   |2024-09-08 11:00:00|2024|-73.8627  |40.749866|-73.8627         |40.749866       |09/08/2024 11:00:00 AM   |17.4         |0.0             |46        |
|Parkchester (6)                                   |02/10/2024 03:00:00 AM|366               |metrocard     |Metrocard - Other               |2        |0        |POINT (-73.86082 40.833225) |subway      |Bronx    |2024-02-10 03:00:00|2024|-73.86082 |40.833225|-73.86082        |40.833225       |02/10/2024 03:00:00 AM   |2.6          |0.0             |91        |
|Flushing-Main St (7)                              |05/04/2024 03:00:00 AM|447               |metrocard     |Metrocard - Seniors & Disability|1        |0        |POINT (-73.83003 40.7596)   |subway      |Queens   |2024-05-04 03:00:00|2024|-73.83003 |40.7596  |-73.83003        |40.7596         |05/04/2024 03:00:00 AM   |7.5          |0.0             |97        |
|Flushing-Main St (7)                              |05/04/2024 05:00:00 AM|447               |omny          |OMNY - Full Fare                |185      |88       |POINT (-73.83003 40.7596)   |subway      |Queens   |2024-05-04 05:00:00|2024|-73.83003 |40.7596  |-73.83003        |40.7596         |05/04/2024 05:00:00 AM   |7.3          |0.0             |97        |
|Jamaica Center-Parsons/Archer (E,J,Z)             |03/09/2024 06:00:00 AM|278               |metrocard     |Metrocard - Unlimited 7-Day     |93       |0        |POINT (-73.80111 40.70215)  |subway      |Queens   |2024-03-09 06:00:00|2024|-73.80111 |40.70215 |-73.80111        |40.70215        |03/09/2024 06:00:00 AM   |3.9          |0.0             |80        |
+--------------------------------------------------+----------------------+------------------+--------------+--------------------------------+---------+---------+----------------------------+------------+---------+-------------------+----+----------+---------+-----------------+----------------+-------------------------+-------------+----------------+----------+
only showing top 20 rows

In [19]:
joined_df.write.mode("overwrite").option("compression", "snappy").parquet("D:/data/mta_top20_joined_1")

In [25]:
joined_df = joined_df.drop("weather_longitude", "weather_latitude", "weather_transit_timestamp", "timestamp", "year", "Georeference")
joined_df.printSchema()

root
 |-- station_complex: string (nullable = true)
 |-- transit_timestamp: string (nullable = true)
 |-- station_complex_id: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- fare_class_category: string (nullable = true)
 |-- ridership: integer (nullable = true)
 |-- transfers: integer (nullable = true)
 |-- transit_mode: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- temperature_C: string (nullable = true)
 |-- precipitation_mm: string (nullable = true)
 |-- humidity_%: string (nullable = true)

In [26]:
joined_df.write.mode("overwrite").option("compression", "snappy").parquet("D:/data/mta_top20_joined_1")